.task {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .task:hover {
    background: #d2ead4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .task.reminder {
    border-left: 5px solid rgb(3, 165, 3);
    color: #0aaf18;
  }
  
  .task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
